<%- include('partials/header') %>
<!-- Hero -->
<div class="p-5 text-center bg-image">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Nice Package, Man</h1>
        <h4 class="mb-3">A tool to simplify your tools</h4>
        <% let actionURL; 
        if(user) { 
          actionURL = '/collections'; 
        } else { 
          actionURL = '/auth/google/'; 
        } 
        %>
        <a class="btn btn-outline-light btn-lg" href="<%= actionURL %>" role="button">Get Started</a>
      </div>
    </div>
</div>
<!-- Hero -->
<%- include('partials/footer') %>
