<%- include('partials/header') %>
<!-- Hero -->
<div class="p-5 text-center bg-image">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text mb-5 pb-5 pl-0">
          <p>Nice Package,</p>
          <p>
            <span class="word wisteria">Man.</span>
            <span class="word green">Ma'am.</span>
            <span class="word belize">Mate.</span>
            <span class="word pomegranate">Manager.</span>
            <span class="word green">Machine.</span>
            <span class="word belize">Model.</span>
            <span class="word wisteria">Mom.</span>
            <span class="word pomegranate">Maker.</span>
          </p>
        </div>
        <% let actionURL; 
        if(user) { 
          actionURL = '/collections'; 
        } else { 
          actionURL = '/auth/google/'; 
        } 
        %>
     
     <div class="text-white pt-5 mt-5">   
        <a class="btn btn-outline-light btn-lg mt-5" href="<%= actionURL %>" role="button">Get Started</a><br>
        <p class="mt-3 fs-5"><a href="#info" class="text-white">Dude...what?<br><i class="bi bi-chevron-down"></i></a></p>

      </div>
    </div>
</div>
<div class="container">
  <div id="info"></div>
  <div class="col-12">
    <div class="row">
      <div class="col-12 my-5">
        <h2 class="text-center">Organize and share tips, code snippets, and repositories for your favorite NPM packages</h2>
      <h5 class="text-center">Improve productivity and time to deploy by over 9000%.  <a class="text-info" target="_blank" href="https://en.wikipedia.org/wiki/Science">It's science</a><sup>[1]</sup>.</h5>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-6">
        <h4>Search for your favorite NPM packages using NPMJS</h4>
        <p>Search the NPMJS.com api for packages to populate your collection. Once a package is associate with your collection, you can begin adding code snippets or links that will stay with that package.</p>
        <div class="col-12 marketing-image-div">
          <img class="marketing-image top-left-image img-fluid" src="/images/search2.png" alt="Search Results Image">
        </div>
      </div>
      <div class="col-6 h-100">
        <h4>Add code snippets and code repos to your packages</h4>
        <p>Add code snippets and code repositories to your packages, so you can easily install, initialize, and deploy some of the trickier packages. Share these notes and links by making the package public.</p>
        <div class="col-12 marketing-image-div align-self-end">
          <img class="marketing-image top-right-image img-fluid" src="/images/package2.png" alt="Search Results Image">
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <h4>Quickly scan your packages for critical updates</h4>
        <p>Each package and code snippet is logged to the version of the package you initially added.  Quickly identify if the code you've been using is outdated, or if there's a critical version update.</p>
        <div class="col-12 marketing-image-div">
          <img class="marketing-image bottom-left-image img-fluid" src="/images/collections2.png" alt="Search Results Image">
        </div>
      </div>
      <div class="col-6">
        <h4>Share collections of packages with your team</h4>
        <p>Individually mark collections as public or private so you can decide who gets to see your nasty code.  Revoke public access if it's too embarassing.  We get it. Use the API for your nerdier friends.</p>
        <div class="col-12 marketing-image-div">
          <img class="marketing-image bottom-right-image img-fluid" src="/images/collection2.png" alt="Search Results Image">
        </div>
      </div>
    </div>
   </div>
   <p class="text-center">[1] - Feel free to read that entire article and write us a strongy worded letter if you disagree.  You won't.</p>
</div>
<!-- Hero -->
<%- include('partials/footer') %>
