body {
  background-color: rgb(83, 83, 83) !important;
  color: #ffffff;
  padding-top: 75px;
}

/****  word rotator *****/

/* body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
} */

.text {
  position: absolute;
  width: 450px;
  left: 50%;
  margin-left: -275px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  font-weight: 600;
  font-size: 40px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  /* display: inline-block; */
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}
/****** word rotator *******/

.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url("/images/npm-hero.png");
  height: 94vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.container {
  background: rgb(83, 83, 83) !important;
  padding: 20px;
  min-height: 90vh;
  margin-bottom: -15px;
}

.marketing-image {
  max-height: 400px;
  padding: 10px;
  overflow: hidden;
}

.marketing-image-div {
  border: 2px solid #212529;
  padding: 10px;
  text-align: center;
}

#info {
  position: relative;
  top: -90px;
}

.navbar-collapse {
  height: 60px;
}

.snippet-parent {
  position: relative;
  width: 100%;
  height: 100%;
}

.jumbotron {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

pre {
  margin: 0;
  background: #212529;
  overflow: visible;
  text-align: left;
}

.snippet {
  height: 100%;
}

.snippet-version {
  float: right;
  color: #868686;
}

.package-info {
  font-size: 1em;
}

.package-info-name {
  font-size: 3em;
  color: rgb(206, 117, 15);
  font-family: monospace;
}

.table-package-name {
  color: rgb(206, 117, 15);
  font-family: monospace;
}

.table-package-name a {
  color: rgb(206, 117, 15);
  font-family: monospace;
}

#collectionDescriptionCard {
  min-height: 6em;
}

#packageDescriptionCard {
  min-height: 6em;
}

::placeholder {
  color: white !important;
  opacity: 0.5 !important;
}

.pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
/*!
Theme: a11y-dark
Author: @ericwbailey
Maintainer: @ericwbailey

Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css
*/
.hljs {
  /* background: #2b2b2b; */
  background: #212529;
  color: #f8f8f2;
}
.hljs-comment,
.hljs-quote {
  color: #d4d0ab;
}
.hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
  color: #ffa07a;
}
.hljs-built_in,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-type {
  color: #f5ab35;
}
.hljs-attribute {
  color: gold;
}
.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
  color: #abe338;
}
.hljs-section,
.hljs-title {
  color: #00e0e0;
}
.hljs-keyword,
.hljs-selector-tag {
  color: #dcc6e0;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-quote,
  .hljs-string,
  .hljs-symbol,
  .hljs-type {
    color: highlight;
  }
  .hljs-keyword,
  .hljs-selector-tag {
    font-weight: 700;
  }
}
